.harry-potter-heading{
   display: flex;
   justify-content:center;
   text-align: center;
   padding-top: 50px;
}

.search-input-wrapper {
    display: flex;
    justify-content:center;
}

.search-input {
    padding: 5px 10px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.loading-wrapper {
    height: 60px;
    padding-top: 20px;
}